<div class='dom-debugger-injected-elements' style="position: fixed; top: 0px;right: 0;height:  100%;width: 300px;opacity: 1;background-color: white;border: 1px solid back;">
	<p style="border-bottom: 1px dashed #cccccc;">{{nodeName}}</p>
	<div style="overflow: scroll; height: 90%">
		{{#each cssProperties}}
			<p>{{ property }} : {{ value }}</p>
		{{/each}}
	</div>
</div>